# Entorno virtual
.venv/

# Python
__pycache__/
*.py[cod]

# Fotos del proyecto
fotos_entrada/
fotos_salida/
fotos_prueba/
/src/metadatos_proceso.py

# Archivos temporales
*.tmp
*.log

# Configuración local
.env